doctype html
html(lang="en")
	head
		title="first pug page"
		script(type='text/javascript').
			if (true) console.log('js log says hello');
	body
		p Hello
		p.
			hi there this 
			is a paragraph 
			going over more than 
			one line
